* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #05adc3;
  --color-background: #efefef;
  --max-width: 1440px;
}

.root {
  display: flex;
  justify-content: center;
}

.content-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: var(--max-width);
}

body {
  background-color: #ffffff;
  font-family: 'Helvetika', sans-serif;
  color: #000000;
}

/*---Конец глобальных стилекей---*/
/*---header---*/
.header {
  display: flex;
  border-bottom: 3px solid #000;
  justify-content: space-between;
}

.logo a {
  font-size: 48px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 10px;
}
.logo a:hover {
  color: #8a8a8a;
}

.logo img {
  vertical-align: middle;
}

.version {
  font-size: 48px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 10px;
}

.version img {
  width: 50px;
  vertical-align: middle;
}

/*---Mein content---*/
.main {
  flex-grow: 1;
  background: var(--color-background);
  padding: 150px 50px;
}

/*---footer---*/
.footer {
  display: flex;
  background: var(--color-primary);
}

.footer-content {
  vertical-align: middle;
  display: flex;
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-content img {
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.footer-text {
  padding-top: 25px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
